<ion-view view-title="Camera">
  <ion-content class="cameraContainer">
    <ion-list>  
  
    <button ng-click="showCameraSelect()"  class="button button-positive button-block"><i class="icon ion-camera"></i> Take a picture</button>
    <div class='picPreviewAndText'>
      <img id="preview" width="200" height="200"></img>
      <br><br>
      <ng-form name="descriptionBox">
          <textarea id='desc' placeholder='Please enter a description [required]' type='text' rows='2' ng-model="description.comment"  ng-required="true"></textarea>
           <br><br>
         <button type="submit" ng-disabled="descriptionBox.$invalid"ng-click="uploadData()"  class="button button-block button-positive">upload pic</button>

    </ng-form>
    </div>

    </ion-list>
  </ion-content>
</ion-view>
