<ion-view view-title="list View">
  <ion-content class="listContainer">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="list">
      Logged in as: {{username}}
        <a class="item item-thumbnail-left" href="#" ng-repeat="photo in results">
          <img src="{{photo[0].photoUrl}}" ng-click="showComments(photo[0].id)">
          <h2>{{ photo[0].description }}</h2>
          <p>{{photo[0].timeStamp | fromNow }}</p>
          <p>{{photo[1] }} mi</p>
        </a>
    </div>
  
  </ion-content>
</ion-view>
